# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/
env/

# OS / IDE
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Secrets
.env

# Data 
data/*.csv
data/*.parquet
data/*.feather

*.py[cod]
.pytest_cache/
.mypy_cache/


# data cache
data/cache/
data/processed/

